<footer>
    <div class="bg-gradient-to-r from-primary to-back min-h-[150px] w-full mt-10 min-w-full shadow-md flex items-center justify-center">
        <div class="grid grid-cols-6 grid-rows-2 gap-4">
            <div class="col-span-2 row-span-2">Contactos</div>
            <div class="col-span-2 row-span-2 col-start-3 row-start-1">Secciones</div>
            <div class="col-span-2 row-span-2 col-start-5 row-start-1">Nesletter</div>
        </div>
            
    </div>
</footer>