---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<section class="flex flex-col justify-center items-center  mt-15">
    <div class="grid grid-cols-5 grid-rows-5 gap-4 w-7xl h-[600px]">
        <!-- Imagen principal -->
        <div class="col-span-3 row-span-4 bg-primary h-full max-h-full rounded-2xl">
            <img class="w-full h-full object-cover rounded-2xl" src="./img/heroImage.jpg" alt="Cerámicos">
        </div>
        
        <!-- Imagen secundaria -->
        <div class="col-span-2 row-span-2 col-start-4 bg-primary  h-full max-h-full rounded-2xl">
            <img class="w-full h-full object-cover rounded-2xl" src="./img/aliens.jpg" alt="Cerámicos">
        </div>
        
        <!-- Contenedores vacíos (para futuras imágenes o contenido) -->
        <div class="row-span-3 col-start-4 row-start-3 bg-primary  h-full max-h-full rounded-2xl">
            <img class="w-full h-full object-cover rounded-2xl" src="./img/ceni.jpg" alt="Cerámicos">
        </div>
        
        <div class="row-span-3 col-start-5 row-start-3 bg-primary  h-full max-h-full rounded-2xl">
            <img class="w-full h-full object-cover rounded-2xl" src="./img/hornito.jpg" alt="Cerámicos">
        </div>
        
        <!-- Último bloque -->
        <div class="col-span-3 row-start-5 bg-primary  h-full max-h-full rounded-2xl">ICONOS</div>
    </div>
</section>
