<header class="w-full bg-gradient-to-r from-primary to-back text-white fixed top-0 left-0">
    <div class="max-w-7xl mx-auto px-6 flex justify-between items-center h-25">
      <!-- Logo -->
      <a href="#" class="text-xl font-bold"><img src="/img/banner.png" class="h-30" alt=""> </a>
        
      <!-- Menú -->

      <nav class="hidden md:flex gap-1 flex-col items-end ">
        <input 
        type="text" 
        placeholder="Buscar productos..." 
        class="px-4 py-1 rounded-full border text-blue text-2xlfocus:outline-none focus:ring-2 focus:ring-primary w-64 ml-4"
          />
        <div class="border-t border-primary" >
            <a href="#" class=" text-blue text-2xl   hover:text-violet">Inicio</a>
            <a href="#" class="text-blue text-2xl  hover:text-violet">Servicios</a>
            <a href="#" class="text-blue text-2xl   hover:text-violet">Contacto</a>
        </div>  
      </nav>
  
      <!-- Menú Móvil (Hamburguesa) -->
      <button class="md:hidden">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
        </svg>
      </button>
    </div>
  </header>
  

  <div class="h-16"></div>