<section>
    <div class="flex flex-row items-center justify-center bg-secondary min-h-20 mt-10 gap-4">
        <p>ENVÍOS</p>
        <p>MEDIOS DE PAGO</p>
        <p>CHAT DE CONSULTA</p>
    </div>
</section>