<section>
    <div class="flex flex-row items-center justify-center bg-pink-400 min-h-20 mt-10">
        <p>ENVÍOS</p>
        <p>MEDIOS DE PAGO</p>
        <p>CHAT DE CONSULTA</p>
    </div>
</section>