---
import "../styles/global.css"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Estudio Paleta</title>
    <meta
      name="description"
      content="Venta de cerámica."
    />
    <meta
      property="og:title"
      content="Estudio Paleta"
    />

    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta
      name="twitter:title"
      content="ESTUDIO PALETA · Venta de cerámica."
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>


  body {

    background: #ffecf4;

  }
</style>
